body
	+pnr
	font-size: 12px
	line-height: 1



.is-homepage
	.header
		position: absolute
		top: 0
		left: 0
		width: 100%
		z-index: 100
		.header__in
			+clr
			max-width: 1125px
			margin: 0 auto
			padding: 31px 0
			+r(1270)
				width: auto
				padding-right: 20px
				padding-left: 20px
		.header__main
			float: left
			margin-right: 33px
			+clr
		.header__logo
			float: left
			margin-right: 28px
			margin-top: 21px
			a
				display: inline-block
				vertical-align: middle
				+hidetext
				+svg(logo, 172, 33)
		.header__lang
			float: left
			margin-top: 16px
			li
				display: inline-block
				vertical-align: top
				&.is-active
					a
						border-radius: 40px
						border: 1px solid rgba(#fff, .4)
						padding: 8px
			a
				+pnl
				display: block
				padding: 8px 1px
				height: 33px
				line-height: 16px
				font-size: 14px
				color: #fff
				letter-spacing: 0.07em
				text-transform: uppercase
				text-decoration: none
				border-radius: 40px
				border: 1px solid transparent
		.header__nav
			float: left
			font-size: 0
			margin-top: 16px
			li
				display: inline-block
				vertical-align: top
				margin-left: 18px
				&:first-child
					margin-left: 0
				&.is-active
					a
						background: #fdb233
			a
				+pnb
				display: block
				padding: 8px
				height: 33px
				line-height: 16px
				font-size: 14px
				color: #fff
				letter-spacing: 0.07em
				text-transform: uppercase
				text-decoration: none
				border-radius: 40px
				border: 1px solid transparent
		.header__actions
			float: right
			font-size: 0
			li
				display: inline-block
				margin-left: 28px
				&:first-child
					margin-left: 0
			a
				display: block
	.btn-order
		border-radius: 10px
		border: 2px solid #ffb31a
		font-size: 14px
		color: #fff
		text-decoration: none
		text-transform: uppercase
		line-height: 17px
		letter-spacing: 0.14em
		padding: 22px 27px 18px
		text-transform: uppercase
		text-decoration: none
		+transition(all .3s)
		&:hover
			background: #ffb31a
	.btn-signin
		letter-spacing: 0.08em
		font-size: 14px
		color: #fff
		text-decoration: none
		text-transform: uppercase
		i
			position: relative
			top: -3px
			display: inline-block
			vertical-align: middle
			margin-right: 7px
			+svg(signin, 24, 24)

+keyframes(drive)
	0%
		+transform(translateX(-150%))
	50%
		+transform(translateX(8%))
	65%
		+transform(translateX(-4%))
	80%
		+transform(translateX(4%))
	95%
		+transform(translateX(-2%))
	100%
		+transform(translateX(0%))

.intro
	position: relative
	display: table
	width: 100%
	color: #fff
	min-height: 900px // TMP
	.intro__bg
		background-image: url('../img/bg.jpg')
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		+cover
		background-position: 50% 0px
	.intro__in
		position: relative
		max-width: 990px
		margin: 210px auto 75px
		+r(900)
			width: auto
			padding-right: 20px
			padding-left: 20px
	.intro__slogan
		+pnb
		+nosel
		cursor: default
		margin-bottom: 53px
		font-size: 120px
		text-align: center
		span
			position: relative
			display: inline-block
			&:before
				position: absolute
				top: -1px
				right: 10px
				content: ""
				+svg(taxi, 39, 20)
		+r(1024)
			font-size: 80px
			span
				&:before
					right: 7px
					+svg(taxi, 27, 14)
	.intro__pic
		max-width: 845px
		margin: 0 auto
		+nosel
		&.is-animate
			+animation(drive 1s ease-in-out)
		img
			display: block
			width: 100% \9
			max-width: 100%
			height: auto


